---
layout: page
title: "About"
description: "Hey, this is HY."
header-img: "img/home-bg-o.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        怕摔的人永远学不会走路，怕摔，就只能坐在地上看别人奔跑。
    </blockquote>
    <p>
        愿中国青年都摆脱冷气，只是向上走，不必听自暴自弃者流的话。<br>能做事的做事，能发声的发声。<br>有一分热，发一分光。<br>就令萤火一般，也可以在黑暗里发一点光。<br>不必等候炬火<br>此后如竟没有炬火，我便是唯一的光。
    </p>

    <p style="text-align:right;">
        —— 鲁迅
    </p>

    <p>
    期待在下面评论框看到你想对我说的话！  ☟  
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Engineer.Working in jimei xiamen.
    </blockquote>

    <p>
    When I'm scared to tackle an obstacle, I close my eyes and pretend im an 80 year old man who regrets not tackling all the obstacles he wanted to in life. Then when I feel like that old man, I say to myself, "I wish I was young again", then I open my eyes....And BOOM! I'm young again.
    </p>
    <p style="text-align:right;">
        —— <a href="https://www.facebook.com/hellohopsin/posts/when-im-scared-to-tackle-an-obstacle-i-close-my-eyes-and-pretend-im-an-80-year-o/666505283365269/">Hopsin － facebook </a>
    </p>

    <p>
    Looking forward to seeing what you want to say to me in the comment box below!   ☟  
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

